<% data.forEach((game) => { %>
    <div class="card">
        <img decoding="async" loading="lazy" src=<%=game.image%>>
        <div class="card-top">
            <div class="gameTitle">
                <p class="hideText"><%=game.title%></p>
            </div>
            <div>
                <p><%=game.reviews%></p>
                <p>⭐</p>
            </div>
        </div>
        <div class="tagWrap">
            <div class="carousel">
                <%game.genre.forEach((tag) => {%> 
                    <p class="tags"><%=tag[0].toUpperCase() + tag.slice(1, tag.length)%></p>
                <%})%>
            </div>

        </div>
        <div class="buttons">
            <a href="/<%=game.id%>/updateGame"><button class="edit" name="edit">✏️</button></a>
            <p>€ <%=game.price%></p>
            <a></a><button onclick="confirmDelete('<%=game.id%>')" class="delete" name="delete">🗑️</button></a>
        </div>
    </div>
<%})%>

<script>
    function confirmDelete(itemId) {
        const password = prompt("Insert secret password to delete item.");
        if(!password) return;
        
        if(password) {
            fetch(`/${itemId}/delete`, {
                method: "POST",
                headers: {"Content-Type" : "application/json"},
                body: JSON.stringify({password})
            })
            .then(res => res.json())
            .then(data => {
                if(data.success) {
                    alert("Item removed")
                    location.reload();
                } else {
                    alert("Wrong password!");
                }
            })
            .catch(err =>  {
                console.log(err);
                alert("Unforseen Error!")
            })
        }
    }
</script>


