<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Game</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/css/multi-select-tag.css">
    <link rel="stylesheet" href="/styleForm.css">
</head>
<body>
    <%-include("./nav")%>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="formWrapper">
        <div class="formContent">
            <form id="gameForm" action="<%=data.id ? '/' + data.id + '/updateGame' : '/newGame'%>" method="POST" name="newGame" style="width: 100%;">
                <div class="section">
                    <div class="formInfo">
                        <label id="title">Title</label>
                        <%errors?.filter(err => err.path == 'title').forEach(err => {%>
                            <p class="error"><%=err.msg%></p>
                        <%})%>
                    </div>
                    <input type="text" name="title" value="<%=edit ? edit.title : data.title %>" placeholder="Insert game title">
                </div>

                <div class="section">
                    <div class="formInfo">
                        <label id="image">Image</label>
                        <%errors?.filter(err => err.path == 'image').forEach(err => {%>
                            <p class="error"><%=err.msg%></p>
                        <%})%>
                    </div>
                    <input type="text" name="image" value="<%=edit ? edit.image : data.image %>" placeholder="Insert img URL address">
                </div>

                <div class="section">
                    <div class="formInfo">
                        <label id="price">Price</label>
                        <%errors?.filter(err => err.path == 'price').forEach(err => {%>
                            <p class="error"><%=err.msg%></p>
                        <%})%>
                    </div>
                    <input type="number" step="0.01" name="price" value="<%=edit ? edit.price : data.price %>" placeholder="Insert price">
                </div>

                <div class="section">
                    <div class="formInfo">
                        <label id="reviews">Reviews</label>
                        <%errors?.filter(err => err.path == 'reviews').forEach(err => {%>
                            <p class="error"><%=err.msg%></p>
                        <%})%>
                    </div>
                    <input type="number" step="0.01" name="reviews" value="<%=edit ? edit.reviews: data.reviews %>" placeholder="Example of rating 6.7, 4, 8...">
                </div>

                <div>
                    <div style="display: flex; justify-content: space-between; text-shadow: 2px 2px 0 black;">
                        <label>Genre</label>
                        <%errors?.filter(err => err.path == 'genre').forEach(err => {%>
                            <p class="error"><%=err.msg%></p>
                        <%})%>
                    </div>
                    <select name="genre" id="genre" multiple>
                        <option value="rpg">Rpg</option>
                        <option value="fps">Fps</option>
                        <option value="tps">Tps</option>
                        <option value="simulator">Simulator</option>
                        <option value="action">Action</option>
                        <option value="survival">Survival</option>
                        <option value="racing">Racing</option>
                        <option value="horror">Horror</option>
                        <option value="rogue-like">Rogue-Like</option>
                        <option value="sport">Sport</option>
                        <option value="souls-like">Souls-Like</option>
                        <option value="multiplayer">Multilpayer</option>
                        <option value="fantasy">Fantasy</option>
                    </select>
                </div>
                <button type="submit" id="submitBtn">Add</button>
            </form>
        </div>
    </div>
    <%-include("./footer")%>
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/js/multi-select-tag.js"></script>
    <script>
        new MultiSelectTag("genre");
        const form = document.getElementById("gameForm");
        const button = document.getElementById("submitBtn")
        form.addEventListener("submit", (e) => {
            button.disabled = true;
        })
    </script>
</body>
</html>